<br />
<h3>Loading</h3>
<MatIcon Icon="@MatIconNames.Mood_bad"></MatIcon>
<p><em>Checking how to make switch...</em></p>
<p><div style="margin-left:auto; margin-top:200px" class="spinner"></div></p>

@code {

}